/* Estilo general de la página de login */
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  position: relative; /* Para asegurar que el botón se posicione correctamente */
}

